$passGreen: #89F595;

.EvaluationArea {

    .EvaluationWindow {
        background-color: #d8d8d88a;
        border-radius: 10px;
        padding: 10px;

        .scores {
            display: grid;
            grid-template-columns: 1fr 1fr;
            text-align: center;
            margin: 20px 0;

            .scoreGrade {
                text-shadow: 3px 3px 11px rgba(0, 0, 0, 0.096);
                color: white;
                
                p {
                    font-size: 15px;
                    padding-bottom: 5px;
                    font-weight: 400;
                }
                h2 {
                    font-size: 40px;
                    font-weight: 600;
                }
            }
        }

        .evaluations {

        }
    }
}