.Header {
    display: flex;
    padding-left: 40px;

    h1 {
        font-weight: 800;
        font-size: 60px;
        padding-top: 25px;
        text-shadow: 3px 3px 11px rgba(0, 0, 0, 0.096);
    }
}