.ActionArea {
    padding: 40px;
    text-align: center;

    textarea {
        color: white;
        background-color: transparent;
        resize: none;
        border: 0 none;
        outline: none;
        font-size: 40px;
        font-weight: 400;
        width: 100%;
        max-width: 520px;
        line-height: 1.5;
        height: 110px;
        text-align: center;
        position: relative;
        overflow: hidden;
        padding-bottom: 70px;
    }

    .colorInputs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        max-width: 500px;
        margin: 0 auto;
    }
}