.ActionArea {
    padding: 40px;
    text-align: center;

    textarea {
        color: white;
        background-color: transparent;
        resize: none;
        border: 0 none;
        outline: none;
        font-size: 40px;
        font-weight: 400;
        width: 100%;
        max-width: 520px;
        line-height: 1.5;
        height: 110px;
        text-align: center;
        position: relative;
        overflow: hidden;
        padding-bottom: 70px;
    }

    .colorInputs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        max-width: 500px;
        margin: 0 auto;
    }
}

@media (max-width: 1025px) { 
    .ActionArea {
        textarea {
            font-size: 30px;
            padding-bottom: 40px;
        }
    }
}

@media (max-width: 867px) { 
    .ActionArea {
        textarea {
            height: 155px;
            margin-bottom: 20px;
            line-height: 1.2;
            overflow: hidden;
            padding: 0;
        }
        .colorInputs {
            grid-template-columns: 1fr;
        }
    }
}

@media (max-width: 789px) { 
    .ActionArea {
        textarea {
            padding-bottom: 10px;
            height: 120px;
            line-height: 1.5;
            //font-size: 40px;
        }
        .colorInputs {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media (max-width: 414px) { 
    .ActionArea {
        .colorInputs {
            grid-template-columns: 1fr;
        }
    }
}