*, body, html {
    //color: white;
    font-family: 'Montserrat', sans-serif;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.App {
    height: 100vh;

    .wrapper {
        max-width: 1200px;
        margin: 0 auto;
        height: 100%;

        .appGrid {
            display: grid;
            grid-template-columns: 600px auto;
            align-items: center;
            height: calc(100vh - 101px * 2.5);
        }
    }
}

@media (max-width: 1040px) { 
    .App .wrapper .appGrid {
        grid-template-columns: auto 470px;
        padding-bottom: 50px;
    }
}

@media (max-width: 789px) { 
    .App .wrapper .appGrid {
        grid-template-columns: 1fr;
        padding-bottom: 50px;
    }
}