*, body, html {
    //color: white;
    font-family: 'Montserrat', sans-serif;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.App {
    .appGrid {
        display: grid;
        grid-template-columns: auto 400px;
    }
}