$passGreen: #89F595;
$failRed: #EB9E9E;

.EvaluationBox {
    display: grid;
    grid-template-columns: auto 90px;
    padding: 12px;
    background: rgba(255, 255, 255, 0.96);
    color: black; // DELETE
    border-radius: 8px;
    height: 45px;
    margin-top: 11px;
    margin-right: 20px;

    .text {
        .title {
            display: flex;
            h2 {
                font-weight: 600;
                font-size: 20px;
                text-transform: capitalize;
            }
            .grade {
                font-weight: 600;
                border-radius: 3px;
                font-size: 12px;

                .pass, .fail {
                    border-radius: 3px;
                    padding: 3px;
                    margin-left: 8px;
                }
                .pass {
                    background-color: $passGreen;
                    color: darken($passGreen, 40%);
                }
                .fail {
                    background-color: $failRed;
                    color: darken($failRed, 40%);
                }
            }
        }
        .desc {
            padding: 5px;
            padding-left: 0;
            padding-right: 15px;
            p {
                font-size: 12px;
                line-height: 1.5;
            }
        }
    }
    .preview {
        padding: 4px;
        top: -4px;
        right: -4px;
        position: relative;
        border-radius: 8px;
        height: calc(100% - 4px);
        font-weight: 600;
        font-size: 30px;
        display: grid;
        justify-items: center;
        align-items: center;
    }
}

.EvaluationBox:first-child {
    margin-top: 2px;
}