.ColorInputButton {
    position: relative;
    
    button {
        background-color: rgba(255, 255, 255, 0.96);
        border-radius: 15px;
        padding: 10px;
        color: black;
        font-size: 20px;
        font-weight: 600;
        width: 150px;
        border: none;
        box-shadow: 3px 3px 18px 0px rgba(50, 50, 50, 0.16);
        cursor: pointer;
        outline: none;
    }

    h2 {
        padding-top: 20px;
        text-align: center;
    }

    .closePicker {
        position: absolute;
        z-index: 1000;
        top: -43px;
        right: -56px;
        background-color: rgb(71, 71, 71);
        padding: 5px;
        border-radius: 100%;
        width: 12px;
        height: 12px;
        box-shadow: 3px 3px 18px 0px rgba(50, 50, 50, 0.281);
        cursor: pointer;

        svg {
            position: relative;
            max-width: 10px;
            max-height: 10px;
            top: -2px;
        }
    }

    .sketch-picker, .chrome-picker {
        position: absolute;
        // top: -50px;
        // right: -250px;
        top: -32px;
        left: -30px;
        z-index: 999;
    }
}

@media (max-width: 867px) { 
    .ColorInputButton {
        margin-bottom: 20px;
    }
}
