.ColorInputButton {
    
    button {
        background-color: white;
        border-radius: 15px;
        padding: 5px;
        color: black;
        font-size: 25px;
        font-weight: 600;
    }
}